$color: (
  app: rgb(0, 225, 225),
  blue: rgb(50, 150, 200),
  blueUltraDark: rgb(0, 75, 125),
  greenConfirmation: rgb(25, 175, 25),
  alert-warm: rgb(240, 100, 100),
  alert-ok: rgb(25, 175, 25),
  alert-info: rgb(25, 175, 155),
);